/*
COLORS
1. #F53357 (pink)
2. #47384D (purple)
3. #3F585F (darkgreen)
4. #218777 (green)
5. #65A683 (lightgreen)
6. #F27405 (orange)
6. #FAFAFA (wit)

/*
Html, body, p
*/
html, body{
	font-family:'Josefin Slab';
    height:100%;
    width:100%;
    overflow: visible;
    overflow-x: hidden;
}
body{
    background:rgba(210,210,210,1);
}

/*
Header
*/

.page-header-wrapper-page{
	background-color:rgba(255,255,255,0.5);
}

.page-header-wrapper{
	opacity:1;
}

.header .col:first-of-type{
    position:relative;
    top:6px;
}
.header-logo h1{
    margin:0;
    padding-bottom:10px;
    text-align: center;
}
.header-logo h1 a{
    color:rgba(255,255,255,1);
    text-decoration: none;
    color:#FAFAFA;
}
.header-logo h1 a:hover,
.header-logo h1 a:focus{
    color:#47384D;
}

.header-logo h2 {
	margin:0;
    padding-bottom:0px;
    text-align: center;
	font-size:16px;
}

.center {
    text-align: center;
	color:#FFFFFF;
}

.center p {
	color:#222222;
}

/*SELECT BAR*/

#select-wrapper-wrapper {
    width:100%;
    border-radius: 10px;
    border: 2px solid #ccc;
    background-color: #eee;
    margin: 15px 0;
}

#select-wrapper {
    margin:12px;
}

#selectCategorie {
    padding:5px;
    width:100%;
    border:2px solid #ffdb6f;
    border-radius:5px;
}


/*
All Geo Lists
*/
.distance{
    display:block;
}
.distance .fa{
    color:#F53357;
    margin-right:6px;
}

/*
Google Maps
*/
#gmap-canvas-wrapper{
    background:#F53357;
    padding:2px;
}
#gmap-canvas{
    height:360px;
}


/*
Main
*/
.main-wrapper blockquote{
    border-left:6px solid rgba(0,170,204,1);
    background:rgba(119,119,119,0.08);
    margin:0;
    padding:2.150538%;
}

/*
Achtergronden pages
*/

#runningplaces{
	background:url(../content/images/losloopweide.jpg);
	background-size:1600px 1065px;
	background-repeat:repeat;
	background-position:center;
}

#parkingspots{
	background:url(../content/images/parkeergarage.jpg) ;
	background-size:1600px;
	background-repeat:repeat;
	background-position:center;
}

#neighbourcenter{
	background:url(../content/images/3L0B6084.jpg) ;
	background-size:1600px;
	background-repeat:repeat;
	background-position:center;
}

#libraries{
	background:url(../content/images/bibliotheek.jpg);
	background-size:1600px;
	background-repeat:repeat;
	background-position:center;
}

#movietheatres{
	background:url(../content/images/bioscoop.jpg);
	background-size:1600px;
	background-repeat:repeat;
	background-position:center;
}

#forest{
	background:url(../content/images/parken.jpg);
	background-size:1600px;
	background-repeat:repeat;
	background-position:center;
}

#playstreets{
	background:url(../content/images/speelstraten.jpeg);
	background-size:1600px;
	background-repeat:repeat;
	background-position:center;
}

#hospitals{
	background:url(../content/images/ziekenhuizen.jpg);
	background-size:1600px;
	background-repeat:repeat;
	background-position:center;
}

#doctors{
	background:url(../content/images/dokters.jpg) ;
	background-size:1600px;
	background-repeat:repeat;
	background-position:center;
}

#pharmacies{
	background:url(../content/images/pharmacies.jpg);
	background-size:1600px;
	background-repeat:repeat;
	background-position:center;
}