/*
Styles for lists
*/
.list{
    margin:4px 0 0;
    padding:0;
    list-style:none;
}
.listitem{
    position:relative;
    background:rgba(240,240,240,1);
    border-bottom:4px solid rgba(215,215,215,1);
    padding:12px;
}
.listitem-picture{
    width:48px;
    height:48px;
    border-radius:100%;
    overflow:hidden;
    display:block;
    float:left;
    margin-right:12px;
}
.listitem-picture img,
.listitem-picture source{
    width:100%;
}
.listitem-content{
    display:block;
}
.listitem-title{
    display:block;
    font-weight:700;
    font-size:1.2em;
    color:rgba(33,33,33,1);
}
.listitem-info{
    display:block;
    color:rgba(117,117,117,1);
}
.listitem-actions{
    position:absolute;
    top:12px;
    right:12px;
}