/*
Pages
*/
.page{
    position:absolute;
    overflow: visible;
    overflow-x: hidden;
    top:-999em;
    left:-120%;
    width:100%;
    display:block;
    transition-property: top, left;
    transition-duration: 0ms, 400ms;
    transition-timing-function: linear, linear;
    transition-delay: 0s, 0s;
    opacity:0;
    min-height: 100%;
}
.page.active{
    transition-property: top, left;
    transition-duration: 0ms, 400ms;
    transition-timing-function: linear, linear;
    transition-delay: 0s, 0s;
    left:0;
    top:0;
    opacity:1;
}

#home{
   	background-image:url(../content/images/DSC_7630.jpg); 
	background-repeat:repeat;
	background-position:center;
}

/*
Page States
*/
.page-states{
    position:relative;
}
.page-state{
    position:absolute;
    overflow: visible;
    overflow-x: hidden;
    top:-999em;
    left:-120%;
    width:100%;
    display:block;
    transition-property: top, left;
    transition-duration: 0ms, 400ms;
    transition-timing-function: linear, linear;
    transition-delay: 0s, 0s;
    opacity:0;
    min-height: 100%;
}
.page-state.active{
    transition-property: top, left;
    transition-duration: 0ms, 400ms;
    transition-timing-function: linear, linear;
    transition-delay: 0s, 0s;
    left:0;
    top:0;
    opacity:1;
}

/*
Page State Navigation
*/
.page-state-navigation ul{
    margin:0;
    padding:1.075269% 0;
    list-style: none;
}
.page-state-navigation ul>li{
    float:left;
    border-top:1px solid #014bc8;
    border-bottom:1px solid #014bc8;
    border-right:1px solid #014bc8;
    width:50%;
    overflow:hidden;
}
.page-state-navigation ul>li:first-of-type{
    border-left:1px solid #014bc8;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}
.page-state-navigation ul>li:last-of-type{
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}
.page-state-navigation ul>li>a{
    display:block;
    color:#014bc8;
    text-align:center;
    padding:12px;
    font-size:18px;
    text-decoration:none;
}
.page-state-navigation ul>li>a>i{
    margin-right:12px;
}
.page-state-navigation ul>li.active>a,
.page-state-navigation ul>li:hover>a,
.page-state-navigation ul>li:focus>a
{
    background:#3f6744;
    color:#FAFAFA;
}
/*
Wrappers
*/
.page-state-navigation-wrapper{
    background:#FFFFFF;
}

.page-content-header h1{
	color:#FFFFFF;
}

